body {

}

hr {
    border: none;
    height: 1px;
    color: #000000;
    background-color: #000000;
}

.container {
    width: 90%;
}

.navbar {
    margin-bottom: 20px;
}

.box {
    border: 1px solid red;
}